parameters:
	ignoreErrors:
		-
			message: '#^Left side of && is always true\.$#'
			identifier: booleanAnd.leftAlwaysTrue
			count: 1
			path: Classes/Connector/OpenAIConnector.php

		-
			message: '#^Parameter \#8 \$forceResult of static method TYPO3\\CMS\\Backend\\Utility\\BackendUtility\:\:getProcessedValue\(\) expects bool, int given\.$#'
			identifier: argument.type
			count: 1
			path: Classes/Service/SchemaService.php
